<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="sidebar-nav">
        <ul class="nav nav-list">
          <li><b><%= link_to "About This Project", "/about", class: "btn btn-block", :style => "color:#9d261d" %></b></li>
          <li><b><%= link_to "Create a New List", "/", class: "btn btn-block", :style => "color:#049cdb" %></b></li>
          <li><b><%= link_to "Share Your List", "/", class: "btn btn-block", :style => "color:#46a546" %></b></li>
          <li class="nav-header"></li>
          <li class="nav-header">Shortcut to Your Lists</li>
          <%= render partial: 'lists_sidebar' %>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->

    <div class="span9 dashboard_box">
      <p>out of <%= @places.count %> places</p>
      <input></input>
    </div>

    <div class="span10">
      <div class="dashboard_map">
        <%= gmaps4rails(@json) %>
      </div>

      <div class="row-fluid">
        <div class="span10">
          <h2>List of all places currently shown: (Total of <%= @places.count %> places)</h2>
        </div>
      </div>

      <%= render 'listview', locals: { places: @places } %>

    </div><!--/span-->
  </div><!--/row-->

  <hr>
</div>
