<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div class="sidebar-nav">
        <ul class="nav nav-list">
          <li><b><%= link_to "About This Project", "/about", class: "btn btn-block", :style => "color:#9d261d" %></b></li><hr>
          <li class="nav-header"></li>
          <li class="nav-header">Shortcut to Lists</li>
          <%= render partial: 'lists_sidebar' %>
          <%= render partial: 'bylist_options', locals: { places: @places }  %>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->

      <div class="span10">
        <% if @places.count == 0 %>
          <h2>No places saved or assigned yet</h2>
        <% elsif @places.count != User.find(@current_user.id).places.all.count %>
          <h2>Your Favorite List: <%= @list.name %></h2>
        <% else %>
          <h2>Showing all your favorite places (Total: <%= @places.count %> places)</h2>
        <% end %>
      </div>

    <div class="span10">
      <div class="dashboard_map">
        <%= gmaps4rails(@json) %>
      </div>

      <div class="row-fluid">
        <div class="span10">
          <% if @places.count != 0 %>
            <h2>List view of places currently shown</h2>
          <% end %>
        </div>
      </div>

      <%= render 'listview', locals: { places: @places } %>

    </div><!--/span-->
  </div><!--/row-->

  <hr>
</div>
