<div class="span4">
  <p><%= place["location"]["display_address"][2] %></p>
  <%= place["location"]["display_address"][0] %><br>
  <%= place["location"]["display_address"][1] %><br>
  <%= place["location"]["display_address"][3] %><br>
  <%= place["display_phone"] %><br>
</div>