<div class="top_margin_push_down">
  <div class="row-fluid">
    <div class="span8 offset1">
      <h1>Looking up "<%= @place_to_search.titleize %>"..</h1>
    </div>
    <div class="span2">
      <p>Powered by: Yelp</p>
    </div>
  </div>

  <% if @response["businesses"].empty? %>
    <div class="span13 offset1">
      <h2 class="text-error">Sorry, Yelp wasn't able to find any places for this search. <a href="<%= user_home_path %>">Try again.</a></h2>
    </div>
  <% else %>
    <% @response["businesses"].each do |place| %>
      <% @place = place %> <!-- Make it accessible to partials -->
      <div class="row-fluid">
        <div class="span10 offset1">
          <hr>
          <%= render partial: 'place-img' %>
          <%= render partial: 'place-info1' %>
          <%= render partial: 'place-info2' %>
          <%= render partial: 'place-save' %>
        </div> <!-- span10 offset1 -->
      </div> <!-- row-fluid -->
    <% end %>
  <% end %>
</div>