<div class="top_margin_push_down">
  <div class="row-fluid">
    <div class="span10 offset1">
      <h1>Your Favorite Place: "<%= @place.name %>"</h1>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span10 offset1">
      <hr>
      <%= render partial: 'place-img', locals: { place: @place} %>
      <%= render partial: 'place-info1', locals: { place: @place} %>
      <%= render partial: 'place-info2', locals: { place: @place} %>

      <div class="span2">
        Put a map here??
      </div>

    </div>
  </div>

  <div class="row-fluid">
    <div class="span10 offset1">
      <hr>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span8 offset1">
      <h2>Add/Edit Tags or Assign to Your Favorite List</h2>
    </div>

    <div class="span2 top_margin_push_down">
      <%= button_to "UPDATE", "", class: 'btn' %>
      <%= button_to "SHARE", "", class: 'btn btn-success' %>
      <%= button_to "DELETE", delete_place_path(place_id: @place.id), class: 'btn btn-danger', method: :delete, :confirm => "ARE YOU SURE YOU WANT TO DELETE THIS PLACE?" %>
    </div>
  </div>
</div>