
<div class="page_wrap">
  <div class="row-fluid">
    <div class="span10 offset1">
      <hr>
      <div class="span2">
        <img class="img-polaroid" src="<%= @user_place["image_url"] %>">
      </div>

      <div class="span3">
        <%= @user_place["name"] %><br>
        Rating: <img src="<%= @user_place["rating_img_url"] %>">
        <%= @user_place["review_count"] %> reviews<br>
        <%= @user_place["categories"].flatten.map{ |category| category.titleize }.uniq.to_sentence(:last_word_connector => ", ") unless @user_place["categories"].nil? %>
      </div>

      <div class="span4">
        <p><%= @user_place["location"]["display_address"][2] %></p>
        <%= @user_place["location"]["display_address"][0] %><br>
        <%= @user_place["location"]["display_address"][1] %><br>
        <%= @user_place["location"]["display_address"][3] %><br>
        <%= @user_place["display_phone"] %><br>
      </div>

      <div class="span2">
        Update with tags
        Go back home
      </div>
    </div>
  </div>
</div>