<!DOCTYPE html>
<html>
<head>
  <title>Themarkr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="../assets/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
  <%= render partial: 'navbar' %>

<div class="row">
  <div class="span9 offset1">
    <% flash.each do |name, msg| %>
      <div class="alert alert-info"><%= content_tag :div, msg, :id => "flash#{name}" %></div>
    <% end %>
  </div>
</div>

  <%= yield %>
  <%= yield :scripts %>
  <script src="../assets/javascripts/bootstrap.min.js"></script>
</body>
</html>
