<!DOCTYPE html>
<html>
<head>
  <title>Themarkr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="../assets/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
  <%= render partial: 'navbar' %>
  <%= yield %>
  <%= yield :scripts %>
  <script src="../assets/javascripts/bootstrap.min.js"></script>
</body>
</html>
